<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="menu-container">
    <ion-button class="menu-button" expand="full" (click)="cadastro()">Página de cadastro</ion-button>

    <ion-button class="menu-button" expand="full" (click)="contasReceber()">Página de contas a receber</ion-button>

    <ion-button class="menu-button" expand="full" (click)="contasPagar()">Página de contas a pagar</ion-button>
  </div>
</ion-content>
